body {	
	background: url(../img/code_high.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

header {
	background-color: #dfdfdf;
	border-bottom: solid 3px #b275e7;
}

.header-content {
	text-align: center;
	width: 100%;
}

h1 {
	font-size: 4em;
}

h2 {
	font-size: 3.2em;
}

.header h2 {
	margin: 0 auto;
	border-right: .1em solid black;
	overflow: hidden;
	white-space: nowrap; 
	width: 14.6em;
	display: inline-block;
	font-size: 2.2em;
	font-family: Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
	animation: typing 6s steps(33, end),
	blink-caret 1s step-end infinite;
}

@keyframes typing {
	from { width: 0 }
	to { width: 14.6em; }
	
}

@keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: black }
}

.code {
	color: #b275e7;
	font-family: Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
}

.navbar-default {
	background-color: transparent;
	border-color: transparent; 
	border-radius: 0;
	font-size: 1.4em;
	margin-bottom: 0;
	width: 100%;
}

.navbar .container-fluid {
	margin-top: 10px;
}

.navbar-default .navbar-nav {
	float: none;
	margin: 0 auto;
	display: inline-block;
	border-bottom: 1px dotted #b275e7;
}

.navbar-default .navbar-nav>li>a {
	color: #000;
	padding: 20px;
	display: inline-block;
	-o-transition: background .3s ease-in-out;
	-ms-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	-webkit-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out; 
}

.navbar-default .navbar-nav>li>a:hover {
	background-color: #b275e7;
	border-radius: 3px;
}

.glyphicon-menu-hamburger {
	font-size: 2em;
	color: #b275e7;
}

.header-icons {
	margin-bottom: 20px;
}

.header-icons:nth-child(2) {
	margin: 0 40px;
}

.icons {
	padding: 20px;
	display: inline-block;
	-o-transition: background .3s ease-in-out;
	-ms-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	-webkit-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
}

.icons:hover {
	background-color: #b275e7;
	text-decoration: none;
	border-radius: 3px;
}

.icons img {
	height: 40px;
}

.divider {
	height: 200px;
	background-color: transparent;
}

#carousel-quotes .carousel-inner {
	width: 100%;
	min-height: 18em;
}

#carousel-quotes .item{
	background-color: transparent;
	transition: opacity 4s ease-in-out;
	-webkit-transition: opacity 4s ease-in-out;
	-moz-transition: opacity 4s ease-in-out;
	-o-transition: opacity 4s ease-in-out;
}

#carousel-quotes .item,
#carousel-quotes .active.left,
#carousel-quotes .active.right {
	opacity: 0;
}

#carousel-quotes .active,
#carousel-quotes .next.left,
#carousel-quotes .prev.right {
	opacity: 1;
}

#carousel-quotes .next,
#carousel-quotes .prev,
#carousel-quotes .active.left,
#carousel-quotes .active.right {
	left: 0;
	transform: translate3d(0, 0, 0);
}

.carousel-indicators li {
	background-color: #000;
	border: 1px solid #000;
}

.carousel-indicators .active {
	background-color: #dfdfdf;
	border: 1px solid #dfdfdf;
}

#carousel-quotes .carousel-caption {
	color: #fff;
	position: static;
}

#carousel-quotes .carousel-caption p {
	font-family: Courier,'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
	font-size: 1.8em;
	text-shadow: none;
}

#carousel-quotes .quote-author {
	display: block;
	font-family: Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
	font-size: 0.4em;
}

#carousel-quotes .carousel-control {
	display: none;
}

.contents {
	/*display: none;*/
	background-color: #fff;
	/*min-height: 40%;*/
}

.section-title h2 {
	text-align: center;
}

#home,
.home {
	background-color: #000;
	opacity: 0.8;
}

#about,
.about {
	background-color: #dfdfdf;
}

.about-img {
	text-align: right;
	padding: 5em 2.5em;
}

.about-img img {
	width: 16em;
	border-radius: 30px;
	border: 4px solid #b275e7;
}

.about-bio {
	padding-top: 5em;
}

.about-bio p {
	padding: 0 2.5em 2.5em;
	border-left: 1px dotted #b275e7;
	font-size: 1.4em;
}

.about-bio a {
	color: #b275e7;
}

.preview-img {
	position: relative;
	height: 24em;
	background-size: cover;
	border: 3px solid #b275e7;
}

.work .blog {
	background-image: url(../img/blog_project.png);
}

.work .map { 
	background-image: url(../img/map_project.gif);
}

.work .catalog {
	background-image: url(../img/catalog_project.png);
}

.caption-wrapper {
	position: absolute;
	background-color: #b275e7;
	height: 9.6em;
	width: 100%;
	bottom: 0;
	color: #FFF;
}

.caption {
	margin-left: 14px;
}

.caption a {
	color: #FFF;
}

#skills,
.skills {
	background-color: #dfdfdf;
}

.skills {
	text-align: center;
}

.skills-icon {
	height: 4em;
}

.skills-list {
	list-style: none;
	padding: 0;
	font-size: 1.4em;
}

#contact,
.contact {
	background-color: #b275e7;
}

#contact h2 {
	color: #dfdfdf;
}

.contact {
	text-align: center;
	padding: 5em 0 8em;
	-o-transition: background .3s ease-in-out;
	-ms-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	-webkit-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out; 
}

.contact:hover {
	background-color: #dfdfdf;
}

.contact-icons {
	height: 6em;
}

#footer {
	border-top: 3px dotted #b275e7;
}

#footer,
.footer-content {
	text-align: center;
	background-color: #dfdfdf;
	font-size: 1.2em;
}

.footer-content p {
	padding: 0.6em;
}

@media screen and (min-width: 1024px) {
	#work .content-side {
		width: 12.499999995%;
	}

}

@media screen and (max-width: 991px) {
	.work {
		margin-bottom: 1.4em;
	}

	.about-img {
		text-align: center;
		padding: 2.5em 0;
	}

	.about-img img {
		width: 16em;
		border-radius: 30px;
		border: 4px solid #b275e7;
	}

	.about-bio {
		padding-top: 0;
	}

	.about-bio p {
		padding: 0 2.5em 2.5em;
		border: none;
	}

}

@media screen and (min-width: 768px) {
	body {
		font-size: 16px;
	}

	#about,
	#work,
	#skills {
		padding-bottom: 2.5em;
	}
}

@media screen and (max-width: 767px) {
	body {
		font-size: 12px;
	}

	h2 {
		font-size: 2em;
	}
}

@media screen and (max-width: 480px) {

	.header h2 {
		font-size: 1.5em;
	}
}